@mixin font-face($font-family, $url, $weight) {
    @font-face {
      font-family: '#{$font-family}';
      src: url('../fonts/#{$url}.ttf') format('truetype');
      font-style: normal;
      font-weight: $weight;
    }
  }

@mixin hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0,0,0,0)
}

@mixin visible {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
}

@mixin separator-line {
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    top: calc((100% - 32px) / 2);
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background-color: $separator-color;
}

@mixin rightleft-padding {
    padding-left: 16px;
    padding-right: 16px;

    @media only screen and (min-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media only screen and (min-width: 1440px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@mixin button-arrow {
    &::before, &::after {
        content: "";
        position: absolute;
    }

    &::before {
        right: 16px;
        bottom: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px $buttonlink-color;
    }

    &::after {
        right: 20px + 16px;
        bottom: 16px + 20px;
        transform: translateY(50%) rotate(-45deg);
        width: 10px;
        height: 10px;
        box-shadow: 2px 2px 0 0 $buttonlink-color;
        background-color: transparent;
    }
}

@mixin transparent-line {
    content: '';
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 24px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);

    @media only screen  and (min-width: 768px) {
        display: none;
    }
}
