$buttonlink-color: #FF3E79;
$highlight-color: #41F6D7;
$titlesection-color: #7E7E82;
$textcontent-color: #1B1C21;
$scrollactive-color: #B8FFEC;
$separator-color: #EAEAEA;
$aboveline-color: #D9FFF5;
$textfooter-color: #7E7E82;
$textmodal-color: #B5B6BC;
$textli-color: #7E7E82;
$textinput-color: #B5B6BC;
$borderinput-color: #EAEAEA;